name: matrix
on: [pull_request]
jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      paths: ${{ steps.filter.outputs.paths }}
    steps:
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          paths:
            - 'src/**'

  build:
    name: Matrix
    needs: changes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [dev, staging]
    if: ${{ needs.changes.outputs.paths == 'true' }}
    steps:
      - uses: actions/checkout@v3
      - name: Do build
        run: 'echo "Doing a real build"'

