name: matrix
on: [pull_request]
jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      paths: ${{ steps.filter.outputs.paths }}
    steps:
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          paths:
            - 'src/**'

  build:
    name: Matrix
    needs: changes
    if: ${{ needs.changes.outputs.paths == 'true' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [dev, staging]
    steps:
      - uses: actions/checkout@v3
      - name: Fail
        if: ${{ matrix.environment == 'dev' }}
        run: exit 1
      - name: Pass
        run: 'echo "Running build"'

  complete:
    name: required
    needs: [build]
    if: ${{ success() || failure() }}
    runs-on: ubuntu-latest
    steps:
      - name: Failed
        if: ${{ contains(needs.*.result, 'failure')}}
        run: exit 1
      - name: Success
        run: 'echo "All good"'
