name: Sentinel

on:
  workflow_call:
    inputs:
      required-jobs:
        required: true
        type: string

jobs:
  sentinel:
    name: "${{github.workflow}} Sentinel"
    needs: ${{ fromJson(github.event.inputs.required-jobs) }}
    if: ${{ success() || failure() }}
    runs-on: ubuntu-latest
    steps:
      - name: Failed
        if: ${{ contains(needs.*.result, 'failure')}}
        run: exit 1
      - name: Success
        run: 'echo "All good"'
